 
    body {
          background-image: url("bg-page.png");
        background-repeat: no-repeat;  
        font-family: 'Open Sans', sans-serif;
         
    }
    
 .login-container{  
     position: relative;       
     border: 20px;  
     margin: 480px;
     padding-top:10%;   
     padding-left:10%;
     padding-right:10%;
     padding-bottom:5%; 
}
.login-form-1{
     
    background-color: white;
    border-radius: 20px;
    padding: 05%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3{
    text-align: center;
    color: #333;
}
  
.login-container form{
    padding: 10%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {border-radius: 25px;}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: black;
     
    /*background-color: #0062cc;*/
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
